body {
    background-color: #f6f7f8 !important;
}

.panel-theme {
    -webkit-box-shadow: 1px 1px 3px #999;
    box-shadow: 1px 1px 3px #999;
    padding: 20px;
    background-color: #fff;
}

.col-centered {
    float: none !important;
    margin: 0 auto;
}

.single-car-data {
    background-color: #fff !important;
    -webkit-box-shadow: 1px 1px 3px #999;
    box-shadow: 1px 1px 3px #999;
}

.single-car-mpg {
    background-color: #fff !important;
    -webkit-box-shadow: 1px 1px 3px #999;
    box-shadow: 1px 1px 3px #999;
}

.stm-isotope-sorting-list {
    background-color: #fff !important;
    padding: 5px;
}

.bold {
    font-weight: bold;
}

.form-control {
    margin-top: 4px !important;
}

label {
    font-weight: 600 !important;
}

table>tbody tr td {
    color: #323232 !important;
}

table.dataTable {
    background-color: #fff !important;
    border: 1px solid #eee !important;
    box-shadow: 1px 1px 3px #999;
}

#customFile .custom-file-control:lang(en)::after {
    content: "Select file...";
}

#customFile .custom-file-control:lang(en)::before {
    content: "Click me";
}


/*when a value is selected, this class removes the content */

.custom-file-control.selected:lang(en)::after {
    content: "" !important;
}

.custom-file {
    overflow: hidden;
}

.custom-file-control {
    white-space: nowrap;
}

.text-orange {
    color: #cc6119;
}

.text-facebook {
    color: #3B5A9B;
}

.text-instagram {
    color: #C84AB6;
}

.text-twitter {
    color: #36CDFF;
}

input[type=text],
input[type=number],
input[type=tel],
input[type=email],
input[type=search],
input[type=password] {
    border: 1px solid #ccc !important;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.single-car-actions .stock-num {
    padding: 3px 15px;
    background-color: #242526 !important;
    border-radius: 15px;
    font-size: 14px;
    color: #fff !important;
}

.classic-filter-row {
    position: relative;
    margin-top: 0px !important;
    /* z-index: 48 */
}

.fa-stack-2x {
    font-size: 1.2em !important;
}

.sep10 {
    width: 100%;
    height: 10px;
    clear: both;
}

.fa-stack-1x,
.fa-stack-2x {
    left: -7px !important;
    position: absolute;
    text-align: center;
    width: 100%;
}

.sizeicon {
    font-size: 20px;
}

.cursor {
    cursor: pointer;
}

.swal2-container {
    z-index: 99999 !important;
}